<!doctype html>
<html>
    <meta charset="utf-8">
    <title>Symfony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/css/style.css">
</head>

<body>

<header>
    <nav class="navbar">
        <a href="./">Home</a> |
        <a href="./dice">Dice</a> |
        <a href="./game21">Game 21</a> |
        <a href="./highscore">HighScore Game 21</a> |
        <a href="./allbooks">Böcker</a>
    </nav>
</header>
<main>
