<!doctype html>
<html>
    <meta charset="utf-8">
    <title>Symfony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/css/style.css">
</head>

<body>

<header>
    <nav class="navbar">
        <a class="hov-effect" href="./">Home</a>
        <a class="hov-effect" href="./game21">Game 21</a>
        <a class="hov-effect" href="./highscore">HighScore</a>
        <a class="hov-effect" href="./histogram">Histogram</a>
    </nav>
</header>
<main>
